<h2>Homepage</h2>
<p><a href="/profile">profile</a></p>
<p><a href="/stations">find a station</a></p>
<p><a href="/add-comment">rate and comment</a></p>
<p><a href="/all-comments">read all comments</a></p>