
ADD LINES TO STATIONS
<form action="/playground" method="POST">
<input type="text" name="station">station</input>
<input type="text" name="line">line</input>
<button type="submit">submit</button>
</form>