<p><a href="/">Back home.</a></p>

<h1>Your Stations</h1>

<h3>This station is <%= thisStation.name %></h3>
<h4><a href="/post/<%= thisStation.id %>">Rate and comment</a></h4>

<p><%= thisStation.name %></p>


