* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 50%;
  margin: 0 auto;
  box-shadow: 8px;
  background-color:#C0C0C0;
 
  border-radius: 25px;
  box-shadow: 12px 12px 20px 25px #909090;
  padding:20px;
  margin-top: 50px;
  opacity: 1;
}

button {
  width:fit-content;
  padding:  2px;
  margin-top: 5px;
}
header {
  height: 40px;
  background-color: #0C4D86;
  color:white;
}

footer {
  height: 40px;
}

nav a {
  color: white;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;

}

.post-form {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
}

.profile-post {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: -15px -10px 20px 10px rgb(137, 137, 175) inset;
  margin: 5px;
  max-width: 80%;
}